{% load static %}
{% include 'header.html' %}

<div style="min-height:500px; display:flex; justify-content:center; align-items:center;">
    <div style="background:white; padding:2rem; border-radius:12px; width:350px; border:1px solid #ddd;">
        
        <h2 style="text-align:center;">Recuperar contraseña</h2>

        <p style="font-size:14px; color:gray; text-align:center;">
            Ingresa tu correo electrónico y te enviaremos instrucciones para recuperar tu contraseña.
        </p>

        <label>Correo Gmail:</label><br>
        <input type="email" placeholder="ejemplo@gmail.com"
        style="width:100%; padding:10px; border-radius:8px; box-sizing:border-box; margin-top:8px;">

        <button style="width:100%; margin-top:15px; padding:10px; background:#534AB7; color:white; border:none; border-radius:8px;">
            Enviar
        </button>

    </div>
</div>

{% include 'footer.html' %}