{% load static %}
{% include 'private/header.html' %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="container mt-4">
            <h1 class="mb-4">Editar Cliente</h1>

            
            <form action="" method="post">
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label>Nombre</label>
                    <input type="text"
                           name="nombreClienteEdit"
                           class="form-control"
                           value="{{ cliente.nombre_cliente }}"
                           required>
                </div>

                <div class="form-group mb-3">
                    <label>Apellido</label>
                    <input type="text"
                           name="apellidoClienteEdit"
                           class="form-control"
                           value="{{ cliente.apellido_cliente }}"
                           required>
                </div>

                <div class="form-group mb-3">
                    <label>Cédula</label>
                    <input type="text"
                           name="cedulaClienteEdit"
                           class="form-control"
                           value="{{ cliente.cedula_cliente }}"
                           maxlength="10"
                           required>
                </div>

                <div class="form-group mb-3">
                    <label>Teléfono</label>
                    <input type="text"
                           name="telefonoClienteEdit"
                           class="form-control"
                           value="{{ cliente.telefono_cliente }}"
                           maxlength="10"
                           required>
                </div>

                <div class="form-group mb-3">
                    <label>Dirección</label>
                    <input type="text"
                           name="direccionClienteEdit"
                           class="form-control"
                           value="{{ cliente.direccion_cliente }}"
                           required>
                </div>

                <div class="form-group mb-3">
                    <label>Estado</label>
                    <select name="estadoClienteEdit" class="form-control" required>
                        <option value="activo"
                            {% if cliente.estado_cliente == 'activo' %}selected{% endif %}>
                            Activo
                        </option>

                        <option value="inactivo"
                            {% if cliente.estado_cliente == 'inactivo' %}selected{% endif %}>
                            Inactivo
                        </option>
                    </select>
                </div>

                <button class="btn btn-warning rounded-pill">
                    GUARDAR
                </button>

                <a href="{% url 'listar_clientes' %}"
                   class="btn btn-danger rounded-pill">
                    CANCELAR
                </a>
            </form>
        </div>
    </div>
</div>

{% include 'private/footer.html' %}