{% load static %}
{% include 'private/header.html' %}

<div class="container mt-4">
    <h2>Inserta tus Clientes</h2>
    <br>

    <form action="" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label>Nombre</label>
            <input type="text"
                   name="nombreCliente"
                   class="form-control"
                   required>

            <label>Apellido</label>
            <input type="text"
                   name="apellidoCliente"
                   class="form-control"
                   required>

            <label>Cédula</label>
            <input type="text"
                   name="cedulaCliente"
                   class="form-control"
                   maxlength="10"
                   required>

            <label>Teléfono</label>
            <input type="text"
                   name="telefonoCliente"
                   class="form-control"
                   maxlength="10"
                   required>

            <label>Dirección</label>
            <input type="text"
                   name="direccionCliente"
                   class="form-control"
                   required>

            <label>Estado</label>
            <select name="estadoCliente" class="form-control">
                <option value="">Seleccione</option>
                <option value="activo">Activo</option>
                <option value="inactivo">Inactivo</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">
            GUARDAR
        </button>

        <a href="{% url 'listar_clientes' %}" class="btn btn-danger">
            CANCELAR
        </a>
    </form>
</div>

{% include 'private/footer.html' %}