{%load static%}
{%include 'private/header.html'%}
{% for producto in productos %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>ESTADO</th>

        </tr>
    </thead>
    <tr>
        <td>{{producto.id}}</td>
        <td>{{producto.nombre_producto}}</td>
        <td>{{producto.precio_producto}}</td>
        <td>{{producto.stock_producto}}</td>
        <td>{{producto.estado_producto}}</td>
    </tr>
</table>
{% endfor %}

{%include 'private/footer.html'%}