{%load static%}
{%include 'private/header.html'%}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>ESTADO</th>

        </tr>
    </thead>
   <tbody>
    {% for producto in productos %}
     <tr>
        <td>{{producto.id}}</td>
        <td>{{producto.nombre_producto}}</td>
        <td>{{producto.precio_producto}}</td>
        <td>{{producto.stock_producto}}</td>
        <td>{{producto.estado_producto}}</td>
    </tr>
    {% endfor %}
   </tbody>
</table>


{%include 'private/footer.html'%}