{%load static%}
{%include 'private/header.html'%}

<div class="container mt-4">
    <h2>Listado de Productos</h2>
    <br>
    <a href="{% url 'crear_productos' %}" class="btn btn-success">Nuevo Producto</a>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>ESTADO</th>

        </tr>
    </thead>
   <tbody>
    {% for producto in productos %}
     <tr>
        <td>{{producto.id}}</td>
        <td>{{producto.nombre_producto}}</td>
        <td>{{producto.precio_producto}}</td>
        <td>{{producto.stock_producto}}</td>
        <td>{{producto.estado_producto}}</td>
    </tr>
    {% empty %}
    <tr>
        <td class="alert alert-danger">No se encuentran registros</td>
    </tr>
    {% endfor %}
   </tbody>
</table>


{%include 'private/footer.html'%}