{% load static %}
{% include 'dashboard/header.html' %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Listado de Usuarios</h1>
    <a  href="" style="border-radius: 10px;" class="btn btn-primary" >Crear Usuario</a>
    <a  href="" style="border-radius: 10px;" class="btn btn-secondary" >Editar Usuario</a>
    <a  href="" style="border-radius: 10px;" class="btn btn-danger" >Eliminar Usuario</a>
    {%if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
        {{  message }}
    </div>
    {% endfor %}
    {% endif %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Correo</th>
                </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> </div>
{% include 'dashboard/footer.html' %}
